@tailwind base;
@tailwind components;
@tailwind utilities;

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 9999px;
    display: inline-block;
    animation: bounceDot 1.2s infinite ease-in-out;
  }
  
  .delay-0 {
    animation-delay: 0s;
  }
  .delay-150 {
    animation-delay: 0.15s;
  }
  .delay-300 {
    animation-delay: 0.3s;
  }
  
  @keyframes bounceDot {
    0%, 80%, 100% {
      transform: scale(0);
      opacity: 0.3;
    }
    40% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  /* Hide scrollbar but keep scrolling */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none;    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar for webkit browsers (Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

/* For any element with no-scrollbar class */
.no-scrollbar {
  overflow-x: hidden;
  overflow-y: auto; /* Keep scrolling functionality */
}

body {
    overflow-x: hidden !important;
}
.iframe-style-22 {
  border: 0;
}
.bg-image-style-92kd1 {
  background-image: url('/sydney.jpg');
}
.iframe-style-zz92p {
  border: 0;
}


.iframe-style-mp47x {
  border: 0;
  width: 100%;
}

.iframe-style-qn82v {
  border: 0;
}
.iframe-style-wt63b {
  border: 0;
}
.image-style-vp59n {
  object-position: center;
}
.div-style-kd84m {
  border-width: 1px;
}
.div-style-xp37c {
  width: 100%;
}
.ultraMinHeightZero {
  min-height: 0;
}
.ultraH48W200 {
  height: 48px;
  width: 200px;
}
.minH48Unique {
  min-height: 48px;
}
.w64h64Unique {
  width: 64px;
  height: 64px;
}
.mobileMenuOverlay {
  transform: translate3d(0, 0, 0);
}
.mobileMenuDrawer {
  transition: transform 0.2s ease-out;
  will-change: transform;
}

.mobileMenuDrawer.menuOpen {
  transform: translate3d(0, 0, 0);
}

.mobileMenuDrawer.menuClosed {
  transform: translate3d(-100%, 0, 0);
}
